body {
    font-family: 'Segoe UI', sans-serif;
    background: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0f172a 0%, #3b82f6 100%);
}

.container {
    background: #fff;
    width: 90%;
    max-width: 400px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

h1 { margin: 0; color: #333; }
#date { color: #888; margin-bottom: 20px; text-transform: capitalize; }

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 12px;
    border: 2px solid #eee;
    border-radius: 8px;
    outline: none;
}

input:focus { border-color: #5c67f2; }

button#addBtn {
    background: #5c67f2;
    color: white;
    border: none;
    padding: 0 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

ul { list-style: none; padding: 0; }

li {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-text {
    flex: 1;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #bbb;
}

.delete-btn {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}
.container header h1{
  font-family: "Playwrite IN Guides", cursive;
  font-weight: 400;
  font-style: normal;
}
a{
    color: black;
}
@media (max-width: 480px) {
    .container{
        padding: 5px;
    }
}

